.container {
	padding: 20px;
}

.subtitle {
	font-size: 14px;
	color: var(--text-primary);
	opacity: 0.6;
	margin-bottom: 20px;
}
.error {
	color: var(--error-color);
	font-size: 14px;
	margin-bottom: 10px;
}
